<!DOCTYPE HTML>
<html>

<head>
  <meta charset='UTF-8' />
  <title>Therapist Tool</title>
  {{> styles}}
</head>

<body>

  {{> navbar}}

  <div class="container">
    <form action="/people/people_search">
      Search Therapy/Therapist:
      <input name="therapistSearch" placeholder="Search" type="Search">
      <input type="submit">
    </form>
  </div>

  {{> footer}}

</body>
</html>
